/* styles for header */
:root{
  --Bg : #000;
  --text: #fff;
  --color-primary: #fd4520;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #fd4520;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #f95230, #fb2c02);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: fd4520;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: fd4520;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px;

}
header {
  align-items: center;
  background:var(--Bg);
  display: flex;
  padding: 1rem;
  position: inherit;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background:none !important;
}
::-webkit-scrollbar-thumb {
  background:#fd4520;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(255, 51, 51, 0.925)
}
/* styles for navigation links */
nav {
  align-items: center;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

nav .navtop {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 1rem;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

nav a:hover {
  color: #e75a02;
}

nav .project-title {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .project-title:hover {
  text-decoration: none;
}

/* styles for mobile menu icon */
.mobile-menu-icon {
  cursor: pointer;
  display: none;
}

.mobile-menu-icon div {
  background: var(--text);
  border-radius: 0.5rem;
  height: 3px;
  transition: transform 0.3s ease;
  width: 2rem;
}

.active div:nth-child(1) {
  transform: rotate(45deg) translateX(1px) translateY(2px);
}

.active div:nth-child(2) {
  transform: rotate(-45deg);
}

/* styles for mobile sidebar */
.mobile-sidebar {
  background: var(--text);
  display: none;
  height: 100%;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  z-index: 3;
}

.mobile-sidebar ul {
  display: flex;
  flex-direction: column;
}

/* Media Query for small screens */
@media screen and (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  nav {
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 0.5rem;
  }

  nav .navtop {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
  }

  nav a {
    padding: 0.5rem 0;
  }

  .mobile-menu-icon {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  .active {
    row-gap: 0;
  }

  .desktop-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-top: 2px solid #222;
    box-sizing: border-box;
    margin-top: .25rem;
  }

  .desktop-nav.hide {
    display: none;
  }

  .mobile-sidebar {
    display: block;
  }

  /* Align mobile menu items to the right in responsive view */
  .mobile-sidebar ul {
    justify-content: flex-end;
    
  }
}