.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  font-weight: 500;
}
.form-field textarea {
  background-color: rgb(240, 240, 236);
  border: none;
  outline: none;
  min-height: 100px;
  font-size: 1rem;
  padding: 10px;
}
.container {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 50px;
}
.container h1 {
  border-bottom: 4px black dotted;
  padding-bottom: 5px;
}

@media (max-width: 300px) {
  h1 {
    margin-top: 4%;
    font-size: larger;
  }
  .form-field {
    margin-top: 18px;
  }
}
