:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

.contact {
  overflow-x: none ;
  /* border: 2px solid blue ; */
  /* width: 100vw;s */
  width: 100%;
  padding: 50px 12%;
  background: var(--text-color);
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact-content a {

  color: var(--bg-color);
  display: block;
  font-size: var(--p-font);
  font-weight: 600;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  width: fit-content;
  margin-right: auto;
}

.contact-content a:hover {
  text-decoration: underline;
}

.action form {
  text-align: center;
}

.action form input[type="email"] {
  width: 460px;
  max-width: 100%;
  padding: 12px 15px;
  background: #222;
  border: none;
  outline: none;
  margin: 0px 10px 20px 0;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
}

.action form input[type="submit"] {
  padding: 12px 30px;
  background: var(--bg-color);
  border: none;
  outline: none;
  margin: 0px 10px 20px 0;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.last { width: 100vw;
  padding: 50px 12%;
  background: var(--text-color);
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and ( max-width : 1000px) {
  .contact {
    width: 76vw;
    
    /* border: 2px solid green;s */
  }
  .main-content {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap:initial;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  .action>form>:first-child{
    text-align: center;
  }
  .last
  {
    width: 40vw;
    padding: 0 10px;
    margin:  0 auto;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .last>p{
    /* border: 2px solid green; */
    text-align: center;
  }
  

}
@media screen and ( max-width : 516px){
  .main-content {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
}