.arbutton {
  background-image: url(./assets/ic_view_in_ar_new_googblue_48dp.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 12px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
  cursor: pointer;
}

.arbutton:active {
  background-color: #e8eaed;
}

.arbutton:focus {
  outline: none;
}

.arbutton:focus-visible {
  outline: 1px solid #4285f4;
}

.help-component {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(74, 74, 74, 0.9);
  align-items: center;
  justify-content: center;
}
.single {
  padding-left: 2rem;
  color: rgb(219, 216, 216);
}
.single p {
  font-size: 12px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 15px;
  cursor: pointer;
  z-index: 999;
  color: white;
  background-color: rgba(0, 0, 0, 0.284);
  border-radius: 100%;
  border: none;
}

.help-btn {
  position: absolute;
  right: 25px;
  bottom: 19px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.284);
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
.help-btn:hover {
  background-color: black;
}
.help-btn span,
.fullscreen-btn span {
  width: 100px;
  display: none;
  position: absolute;
  font-size: 15px;
  bottom: 22px;
  right: 60%;
  background-color: rgba(0, 0, 0, 0.83);
  padding: 20% 40%;
}
.help-btn:hover span,
.fullscreen-btn:hover span {
  display: block;
}
.fullscreen-btn {
  position: absolute;
  right: 55px;
  bottom: 18px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.284);
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
.fz {
  font-size: 35px;
}
.fz p {
  font-size: 25px;
}

