.arbutton {
  background-image: url(./assets/ic_view_in_ar_new_googblue_48dp.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 12px;
  padding: 0px 16px 0px 40px;
  font-size: 20px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
  cursor: pointer;
}

.arbutton:active {
  background-color: #e8eaed;
}

.arbutton:focus {
  outline: none;
}

.arbutton:focus-visible {
  outline: 1px solid #4285f4;
}

.add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 45px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 35px;
  padding-bottom: 10px;
  margin-left: auto;
}
.add-icon:hover {
  transform: scale(1.1);
}

.help-btn,
.fullscreen-btn {
  all: unset;
}

.help-component {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(74, 74, 74, 0.9);
  align-items: center;
  justify-content: center;
}
.single {
  padding-left: 1rem;
  color: rgb(219, 216, 216);
}
.single p {
  font-size: 12px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  color: black;
  background-color: white;
  border-radius: 50%;
  border: none;
}

.help-btn {
  background-color: rgba(0, 0, 0, 0.284);
  bottom: 19px;
  right: 1rem;
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.help-btn span,
.fullscreen-btn span {
  width: 50px;
  display: none;
  position: absolute;
  font-size: 10px;
  bottom: 22px;
  background-color: rgba(0, 0, 0, 0.545);
  padding: 20% 20%;
  border-radius: 10px;
}
.help-btn:hover span,
.fullscreen-btn:hover span {
  display: block;
}
.fullscreen-btn {
  background-color: rgba(0, 0, 0, 0.284);
  border-radius: 100%;
  bottom: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  aspect-ratio: 1/1;
  right: 4rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.225rem;
  line-height: 0;
}
.fz {
  font-size: 30px;
}
.fz p {
  font-size: 25px;
}

.qr-sec {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  padding-top: 10px;
  gap: 10px;
  width: 100%;
}

.qr-sec h5 {
  margin: 0;
  margin-top: 1rem;
}

.product-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
}

.model-view {
  width: 450px;
  height: 500px;
  margin: 1rem;
}

@media (max-width: 400px) {
  .model-view {
    width: 90vw;
  }
  .qr-sec {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
  }
}
.fullscreen-mob {
  position: relative;
  right: 0;
  bottom: 0;
}
.help-mob {
  position: relative;
  right: -2px;
  bottom: 0;
}

.rating-sec {
  display: flex;
  gap: 5px;
}
.star {
  color: #e8ba47;
}
.pname {
  font-size: large;
  font-weight: bold;
}

.fullscreen-btn span,
.help-btn span {
  right: -3.5rem;
}

.help-btn {
  top: 4rem;
  left: 1rem;
}

.fullscreen-btn {
  top: 1rem;
  left: 1rem;
}

@media (min-width: 35em) {
  .help-btn,
  .fullscreen-btn {
    top: unset;
    left: unset;
  }
  .fullscreen-btn span,
  .help-btn span {
    right: 60%;
  }
}
