.arbutton {
  background-image: url(./assets/ic_view_in_ar_new_googblue_48dp.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 12px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
  cursor: pointer;
}
.app-container{
  margin-top: 200px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .app-container {
    margin-top: 550px;
    margin-bottom: 15px;
  }
}
.model-view {
  position: relative;
  padding-bottom: 3.1rem !important;
  margin-top: 2%;
}
.add-icon {
  display: grid;
  justify-content: center;
  place-items: center;
  aspect-ratio: 1/1;
  position: absolute;
  right: 1rem;
}

.arbutton:active {
  background-color: #e8eaed;
}

.arbutton:focus {
  outline: none;
}

.arbutton:focus-visible {
  outline: 1px solid #4285f4;
}


.help-btn, 
.fullscreen-btn {
  all: unset;
}

.help-component {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgba(74, 74, 74, 0.9);
  align-items: center;
  justify-content: center;
}
.single {
  padding-left: 1rem;
  color: rgb(219, 216, 216);
}
.single p {
  font-size: 12px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  cursor: pointer;
  z-index: 999;
  color: white;
  background-color: rgba(235, 88, 51, 0.751);
  border-radius: 100%;
  border: none;
}

.help-btn {
  background-color: rgba(0,0,0,.284);
  bottom: 19px;
  right: 1.25rem;
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  font-weight: 600;
  font-size: 1rem;
  padding: .2rem;
}
.help-btn:hover, .fullscreen-btn:hover {
  background-image: radial-gradient(circle, #ff55b6, #e96cd0, #cf7fe1, #b48fec, #9c9cee, #88a9f6, #76b5f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) !important;
}
.help-btn span,
.fullscreen-btn span {
  width: 50px;
  display: none;
  position: absolute;
  font-size: 10px;
  bottom: 22px;
  background-color: rgba(0, 0, 0, 0.545);
  padding: 20% 20%;
  border-radius: 10px;
}
.help-btn:hover span,
.fullscreen-btn:hover span {
  display: block;
}
.fullscreen-btn {
  background-color: rgba(0,0,0,.284);
  border-radius: 100%;
  bottom: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  aspect-ratio: 1/1;
  right: 4rem;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1rem;
  padding: .225rem;
  line-height: 0;
}
.fz {
  font-size: 35px;
}
.fz p {
  font-size: 25px;
}

.qr-sec{
  display: flex;
  padding-top: 10px;
  gap:10px;
}

@media (max-width:400px) {
    .qr-sec{
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
      margin-top: 20px;
    }
}
    .fullscreen-mob {
      position: relative;
      right: 0;
      bottom: 0;
    }
    .help-mob {
      position: relative;
      right: -2px;
      bottom: 0;
    }


.model-view{
  background-color: #eee;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px;
  transition: all 0.7s;
  margin: 3%;
  width: 25%;
  max-width: 700px;
}
.model-view:hover{
  transform: scale(1.04);
  box-shadow: 0 0 10px 1.5px;
}
.add-icon{
  margin-left: 90%;
  background: rgba(235,88,51,0.75 );
  border-radius: 50%;
  color:white;
  font-weight:bolder;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
  font-size: 22px;
}
.add-icon:hover{
  transform: scale(1.2);
  background-color: rgb(235,88,51);
}
.add-icon-mob{
  margin-left: 80%;
  background: rgba(235,88,51,0.75 );
  border-radius: 50%;
  color:white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}
.add-icon-mob:hover{
  transform: scale(1.1);
  background-color: rgb(235,88,51);
}
.rating-sec{
  display: flex;
  gap: 5px;
}
.star{
  color: #e8ba47;
}
.pname{
  font-size: large;
  font-weight: bold;
}


.fullscreen-btn span, .help-btn span {
  right: -3.5rem;
}

.help-btn {
  top: 3.5rem;
  left: 1rem;
}

.fullscreen-btn {
  top: 1rem;
  left: 1rem;
}

@media (min-width: 35em) {  
  .help-btn,
  .fullscreen-btn{
    top: unset;
    left: unset;
  }
  .fullscreen-btn span, .help-btn span {
    right: 60%;
  }
}

